#optionMonthHide, #optionDayHide {
    display: none;
}

body{
    margin-top: 10em;
    display: flex;
    justify-content: center;
    background-color: wheat;
}
#container{
    font-size: 2em;
}
#input, #save, #update, #delete{
    font-size: 1em;
}
#result {
    width: 300px;
    height: 300px;
    margin: 50px;
    font-size: 3em;
}